﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Feature 1-Homepage.aspx.cs" Inherits="TMDT_Lab01_1012255.Feature_1_Homepage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>


        <b>Họ tên : Nguyễn Hoàng Ngọc</b> <br />
        <b>MSSV : 1012255</b> <br />
        <b>Email  : hoangngoc1482@gmail.com</b> <br />
        <img src="images/ngoc.jpg"  height="177" width="118" />
    
    </div>
    </form>
</body>
</html>
